PORT=4000
URL='http://localhost:'
DATABASE_URL="postgres://kknfhqoh:sGkO9Lwoax3euZOxwx4YcV0T81ap82oj@trumpet.db.elephantsql.com/kknfhqoh?schema=prisma"
SHADOW_DATABASE_URL="postgres://ixwkwqoc:f-q-c3G2YOYIv9gbkNBJuduEf-YiSS68@lucky.db.elephantsql.com/ixwkwqoc?schema=shadow"
JWT_SECRET="f8/.50[';.zk1q\Aed4$£"
JWT_EXPIRY="12h"